* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
}
section {
    margin-top: 30px;
    width: 100%;
    grid-area: main;
}

.logo {
    padding: 15px;
    text-transform: uppercase;
    width: 200px;
}

.errors {
    width: 80%;
    margin: 0 auto;
}

.errors p {
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}


.sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    grid-area: sidebar;
}

.sidebar ul {
    padding: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px;
}
.sidebar ul li:hover {
    transform: scale(1.08);
}
.sidebar ul li a{
    text-decoration: none;
}