{% extends 'accounts/base.html' %}
{% block content %}
	<style type="text/css">
		.passwordResetDiv {
			position: absolute;
			left: 45%;
			width: 400px;
			height: 300px;
			padding: 15px;
			border: 0;
			border-radius: 10px;
			box-shadow: 1px 1px 3px 1px grey;
		}
		.passwordResetDiv input, .passwordResetDiv label {
			width: 100%;
			height: 30px;
		}
		.passwordResetDiv div {
			margin: 10px;
		}
		.passwordResetDiv input {
			border: 0;
			border-bottom: 1px solid blue;
			color: blue;
			padding: 8px;
		}
		.passwordResetDiv button {
			padding: 8px;
			background: blue;
			color: white;
			font-weight: white;
			border: 0;
			border-radius: 8px;
		}
	</style>
	<div class="passwordResetDiv">
		<h3 style="font-weight: bold; color: red; text-align: center;">Password Reset</h3>
		<form class="passwordResetForm" method="POST">
			{% csrf_token %}
			<div>
				<label>Email</label>
				<input type="email" class="emailFetch" required>
			</div>
			<div>
				<label>Password</label>
				<input type="password" class="passwordReset1">
			</div>
			<div>
				<label>Confirm Password</label>
				<input type="password" class="passwordReset2">
			</div>
			<div>
				<button type="submit">Reset Password</button>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		document.querySelector('.passwordResetForm').addEventListener('submit', function(event) {
			event.preventDefault();
			const password1 = document.querySelector('.passwordReset1').value;
			const password2 = document.querySelector('.passwordReset2').value;
			const email = document.querySelector('.emailFetch').value;
			if (password1 !== password2 || password1.length < 8 || password2.length < 8) {
				notification('error', 'Please check the passwords!', 2000);
			} else {
				$.ajax({
					url: "{% url 'passwordResetRequestProcess' token %}",
					type: "POST",
					data: {
						email: email,
						password: password1,
						action: "passwordResetRequestProcess",
						csrfmiddlewaretoken: "{{ csrf_token }}",
					}, beforeSend: function() {
						loading('show', 'Resetting Password...');
					}, success: function(response) {
						if(response.text === 'true') {
							window.location.href = "{% url 'logout_user' %}";
						} else {
							loading('hide', 'Link expired...')
							notification('error', 'Password reset link is expired or does not exists', 2000);
						}
					}
				})
			}
		})
	</script>
{% endblock content %}